body {
  padding-top: 50px;
}

#nav-list {
  background-color: white;
  text-align: center;
}

.title {
  padding: 10px 15px;
  text-align: center;
}

h3 {
  text-align: center;
}

.content {
  margin-top: 35px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f8f8f8;
  text-align: justify;
}
